.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 36px;
    width: 80%;
    align-self: flex-start;
    margin: auto;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  .dashboardBody {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    padding: 2rem;
    border: 1px solid rgba(216, 216, 216, 0.75);
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    p {
      border: 1px solid #bce8f1;
      background-color: #d9edf7;
      color: #31708f;
      width: 95%;
      padding: 1rem;
      border-radius: 5px;
      margin-top: 0;
      font-size: 14px;
    }

    .list {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
