.singleTrain {
  display: flex;
  flex-direction: column;

  .title {
    justify-content: space-between;
    margin: auto;
    padding: 18px;
    width: 90%;
    background-color: #01467f;

    .title-left {
      .MuiTypography-h6 {
        color: #f08b1d;
      }

      .MuiTypography-h4 {
        color: #ffffff;
      }
    }

    .title-right {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .MuiButton-root {
        gap: 0.25rem;
        width: 20%;
      }
    }
  }
}
