.singleTrain {
  display: flex;
  flex-direction: column;

  .title {
    justify-content: space-between;
    margin: auto;
    padding: 18px;
    width: 90%;
    background-color: #01467f;

    .title-left {
      .MuiTypography-h6 {
        color: #f08b1d;
      }

      .MuiTypography-h4 {
        color: #ffffff;
      }
    }

    .title-right {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 20%;

      .MuiButton-root {
        gap: 0.25rem;
        background-color: #ffffff;
        color: black;
      }
    }
  }

  .body {
    display: flex;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 90%;
    background-color: #01467f;

    .left {
      flex: 1;
      border: 1px solid black;
    }

    .right {
      flex: 2;
      border: 1px solid black;
      padding: 18px;
    }
  }
}
