.about {
  .MuiBox-root {
    padding: 0;
  }
  .about-body {
    width: 100%;
    gap: 1rem;
  }
  .about-empty {
    display: flex;
    justify-content: start;
  }
  .MuiButton-root {
    background-color: #ffd400;
    color: #333;
  }
  .MuiDataGrid-row.Mui-odd {
    background-color: aliceblue;
  }
}
.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

  p {
    display: flex;
    align-items: center;
    border: 1px solid #bce8f1;
    background-color: #d9edf7;
    color: #31708f;
    width: 95%;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 0;
    font-size: 14px;
  }
}
