.right {
  display: flex;
  align-items: center;
  gap: 1rem;

  .newTrain {
    font-weight: bold;
    &:hover {
      background-color: rgba(224, 224, 224, 0.745);
    }
  }
  .signUp {
    font-weight: bold;
    &:hover {
      background-color: rgba(224, 224, 224, 0.745);
    }
  }
}
